<h1>Listing confections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @confections.each do |confection| %>
      <tr>
        <td><%= confection.name %></td>
        <td>
        <div class="confection-preview" style="<%= confection.code %>"></div></td>
        <td><%= link_to 'Show', confection %></td>
        <td><%= link_to 'Edit', edit_confection_path(confection) %></td>
        <td><%= link_to 'Destroy', confection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confection', new_confection_path %>
