<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @confection.name %>
</p>

<p>
  <strong>Code:</strong>
  <pre><code><%= @confection.code %></code></pre>

    <div class="confection-preview" style=" <%= @confection.code %>">

    </div>

</p>

<%= link_to 'Edit', edit_confection_path(@confection) %> |
<%= link_to 'Back', confections_path %>
